# Python Virtual Environment
.venv
venv

# Python egg files
*.egg-info/

# python cache
__pycache__/
.pytest_cache/
tests/__pycache__/

# build and coverage artifacts
build/
dist/
.coverage
coverage.xml
htmlcov/
